@keyframes intro__message--text-fade-in {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }

  90% {
    opacity: 1;
  }

  100% {
    transform: translateY(0);
  }
}

.intro__message {
  animation: intro__message--text-fade-in 0.45s ease-out;
}
