@keyframes slider__item-text--text-fade-in {
  0% {
    opacity: 0;
    transform: translateX(200px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.slider__item-text {
  will-change: transform;

  .slider__item.slider__item_current & {
    animation: slider__item-text--text-fade-in 0.6s ease-out;
  }

  .slider__item.slider__item_next & {
    animation: slider__item-text--text-fade-in 0.6s ease-out 0.2s;
  }
}
